{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block extrahead %}
{{ block.super }}
<style>
    .bulk-upload-btn {
        display: inline-block;
        background: #0d5505;
        padding: 10px 15px;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
        text-decoration: none;
        transition: background 0.3s;
    }
    .bulk-upload-btn:hover {
        background: #009c00;
        color: #fff;
        text-decoration: none;
    }
    .bulk-upload-btn i {
        margin-right: 5px;
    }
    li{
        list-style: none;
    }
</style>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'cms:admin_media_upload' %}" class="bulk-upload-btn">
            <i class="fa fa-upload"></i> {% trans 'Bulk Upload' %}
        </a>
    </li>
    {{ block.super }}
{% endblock %}